[Unit]
Description=git-etc daemon

[Service]
Type=forking
ExecStart=/usr/bin/git-etc -c /etc/git-etc.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
