[Unit]
Description=git-etc daemon

[Service]
EnvironmentFile=/etc/conf.d/git-etc.conf
Type=forking
ExecStart=/usr/bin/git-etc -d $DIRECTORY -t $TIMESLEEP -i $IGNORELIST
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
