[Unit]
Description=git-etc daemon

[Service]
EnvironmentFile=/home/arcanis/Documents/git-etc/source/git-etc.conf
Type=Forking
ExecStart=/home/arcanis/Documents/git-etc/source/git-etc $DIRECTORY $TIMESLEEP $IGNORELIST
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
