[Unit]
Description=git-etc test daemon

[Service]
EnvironmentFile=/home/arcanis/Documents/github/git-etc/source/git-etc.conf
Type=forking
ExecStart=/home/arcanis/Documents/github/git-etc/source/git-etc -d $DIRECTORY -t $TIMESLEEP -i $IGNORELIST
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
